#body {
  background-color: black;
}

#top {
  background-color: black;
}


#todo-list-title {
  background-color: black;
  color: #00FF00;
  font-family: monospace;
  margin: 0%;
  padding-bottom: 10px;
}

#addNewTodo{
  background-color: black;
  color: #00FF00;
  font-family: monospace;
}

#todoCardCell {
  background-color: gray;
  padding-top: 3px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.todo {
  flex-direction: row;
  background-color: black;
}

.todoCardCon {
  color: #00ff00;
  background-color: black;
  margin: 0;
  flex-direction: column;
  display: flex;
  width: 250px;

}

#cardTitle {
  background-color: black;
  color: #00ff00;
  margin: 0;
}

#cardCont {
  background-color: black;
}

#ownerTodo {
  background: black;
  margin-bottom: 15px;
}
#statusTodo {
  background: black;
  margin-bottom: 15px;
}

#bodyTodo {
  background: black;
  margin-bottom: 15px;
}

#categoryTodo {
  background: black;
  margin-bottom: 15px;
}

#todoOwnerFillinField {
  background-color: grey;
}

#todoStatusFillinField {
  background-color: grey;
}

#todoBodyFillinField {
  background-color: grey;
}

#todoCategoryFillinField {
  background-color: grey;
}
